github "wireapp/wire-ios-cryptobox" ~> 2.0
github "wireapp/wire-ios-images"
github "wireapp/wire-ios-transport"
github "wireapp/wire-ios-system"
github "wireapp/wire-ios-protos"
github "wireapp/wire-ios-link-preview"
github "wireapp/wire-ios-data-model"
