github "wireapp/wire-ios-request-strategy" "refactor/generic-message-calling-ZIOS-12071"
github "wireapp/avs-ios-binaries" ~> 5.3.191
github "wireapp/ZipArchive" "v2.1.3"
github "wireapp/libPhoneNumber-iOS" ~> 0.9.3
